.board-board_list-item {
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}


.board-board_list-item:hover {
    background-color: #eee;
    cursor: pointer;
}